/* Container for the entire form */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form title */
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form labels */
  .form-label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
  
  /* Input fields */
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Select fields */
  .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Submit button */
  .form-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Results container */
  .results-container {
    margin-top: 20px;
  }
  
  /* Result titles */
  .result-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Result data */
  .result-data {
    font-size: 16px;
    margin-bottom: 15px;
  }
  